
.card .header-edit {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;

}

.header-edit .card-title {
    flex-grow: 1;
}

.header-edit .custom-setting .card-tools {
    display: flex;
    flex-direction: row;

}

.header-edit .btn-outline-success:hover {
    color: #fff;
    background-color: rgba(40, 167, 69, 0.5);
    border-color: #28a745;
}