.custom-body {
    display: flex;
    justify-content: space-between;
}
.card-header .check-warapper,
.custom-body .check-children {
    transform: scale(1.5);
    margin-right: 10px;
}
.card-header .check-warapper + label {
    font-weight: 600;
}

.check-custom:checked {
    background-color: #00A000 !important;
}

.check-custom:focus {
    background-color: #00A000 !important;
}
